@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: #FBFBFB;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

#header-con {
	background-color: #C4E7C0;
	padding-top: 20px;
	padding-bottom: 20px;
	position: sticky;
	top: 0px;
}

#header-box1 {
	grid-column: 1/3;
	padding-right: 28px;
}

#header-box1 img {
	height: 80px;
	display: inline-block;
	margin-left: -80px;
	margin-top: 2px;
	margin-bottom: 10px;
	padding: 2px;
	position: absolute;
}

#header-box1 h2 {
	display: inline-block;
	font-size: 36px;
	position: absolute;
	margin-left: 28px;
	margin-right: 28px;
}

#main-nav {
	grid-column: 3/11;
	height: 80px;
	padding-top: 28px;
	margin-left: 64px;
	height: 80px;
}

#main-nav ul li {
	display: inline;
	font-size: 28px;
	margin-left: 28px;
	margin-right: 28px;
	padding: 10px;
}

#main-nav ul li a {
	color: #222222;
}

#main-nav ul li a:hover {
	padding-bottom: 5px;
	border-bottom: 5px solid #222222;
}

#main-nav ul li a.active-page {
	color: #FBFBFB;
	padding-bottom: 5px;
	border-bottom: 5px solid #222222;
}

#search-and-login {
	grid-column: 11/-1;
	height: 80px;
	padding-top: 28px;
	margin-left: -48px;
}

#search-and-login ul li {
	display: inline;
	font-size: 28px;
	margin-left: -36px;
	margin-right: 28px;
	padding: 8px;
}

#search-and-login ul li a {
	color: #222222;
}

#search-and-login ul li a:hover {
	padding-bottom: 5px;
	border-bottom: 5px solid #222222;
}

#search-vector {
	height: 28px;
	padding-left: 2px;
	padding-right: 2px;
}

#login-vector {
	height: 28px;
	padding-left: 2px;
	padding-right: 2px;
}

/* Specific to index page desktop  */

#hero {
	margin-top: 100px;
	margin-bottom: -50px;
	padding-bottom: 100px;
	border-bottom: solid 2px #222222;
}

#hero-text {
	grid-column: 1/8;
	margin-right: 48px;
}

#hero-title {
	font-size: 48px;
}

#hero-text p {
	font-size: 28px;
}

#read-button {
	background-color: #518EF9;
	font-size: 28px;
	color: #FBFBFB;
	margin-top: 100px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 36px;
	padding-right: 36px;
	border-radius:12px;
	position: absolute;
}

#read-button:hover {
	background-color: #A6C5FB;
}

#hero-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 582px;
}

#latest {
	margin-top: 100px;
	margin-bottom: 100px;
}

#latest p {
	margin: 48px;
	font-size: 28px;
}

#latest h2 {
	grid-column: 1/-1;
	text-align: center;
	font-size: 48px;
}

#latest1 {
	grid-column: 1/5;
}

#latest2 {
	grid-column: 5/9;
}

#latest3 {
	grid-column: 9/-1;
}

.latest-box {
	background-color: #E0F2DE;
}

#about-con {
	background-color: #FFDBDB;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about-title {
	text-align: center;
	font-size: 48px;
}

#about-text {
	grid-column: 1/8;
	margin-right: 48px;
}

#about-text h3 {
	margin-top: 64px;
	font-size: 48px;
}

#about-text p {
	font-size: 28px;	
}

#learn-button {
	background-color: #FEECEC;
	font-size: 28px;
	color: #222222;
	margin-top: 200px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 36px;
	padding-right: 36px;
	border-radius:12px;
	position: absolute;
}

#learn-button:hover {
	background-color: #FFDBDB;
}

#about-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
}

#contact {
	margin-top: 100px;
	margin-bottom: 100px;
}

#contact-text {
	grid-column: 1/8;
	margin-right: 48px;
}

#contact-text h3 {
	font-size: 48px;
}

#contact-text p {
	font-size: 28px;
	padding-bottom: 48px;
}

#contact-text p:last-of-type {
	padding-bottom: 0px;
}

#contact-form {
	grid-column: 8/-1;
	background-color: #518EF9;
	color: #FBFBFB;
	font-size: 28px;
	margin-top: 48px;
	margin-right: 48px;
	padding: 36px;
	padding-top: 64px;
	padding-bottom: 32px;
}

#contact-form label {
	display: inline-block;
	padding-bottom: 32px;
	position: relative;
}

#contact-form input {
	display: inline-block;
	font-size: 28px;
	border: 0;
}

#contact-form textarea {
	font-size: 28px;
	width: 75%;
}

#submit-form {
	background-color: #A6C5FB;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 36px;
	padding-right: 36px;
	border-radius:12px;
	position: absolute;
}

#submit-form:hover {
	background-color: #518EF9;
}

/*Common page elements  */

#footer-con {
	background-color: #C4E7C0;
	padding-top: 50px;
	padding-bottom: 50px;
}

#footer-logo img {
	grid-column: 1/3;
	height: 80px;
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 10px;
	padding: 2px;
	position: absolute;
}

#footer-logo h2 {
	display: inline-block;
	font-size: 36px;
	position: absolute;
	margin-left: 100px;
	margin-right: 100px;
}

#footer-nav {
	grid-column: 3/-1;
	height: 80px;
	padding-top: 28px;
	margin-left: 100px;
	margin-bottom: 64px;
	height: 80px;
	position: relative;
}

#footer-nav ul li {
	display: inline;
	font-size: 28px;
	margin-left: 28px;
	margin-right: 28px;
	padding: 10px;
}

#footer-nav ul li a {
	color: #222222;
}

#footer-nav ul li a:hover {
	padding-bottom: 5px;
	border-bottom: 5px solid #222222;
}

#footer-nav ul li a.active-page {
	color: #FBFBFB;
	padding-bottom: 5px;
	border-bottom: 5px solid #222222;
}

#newsletter-form {
	grid-column: 1/7;
	height: 80px;
	display: inline-block;
	font-size: 28px;
	color: #222222;
}

#newsletter-form label {
	display: inline-block;
	padding-bottom: 32px;
	position: relative;
}

#newsletter-form input {
	display: inline-block;
	color: #222222;
	font-size: 28px;
	border: none;
	margin-right: 32px;
}

#submit-nl-form {
	display: inline-block;
	background-color: #E0F2DE;
	margin-top: -12px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 36px;
	padding-right: 36px;
	border-radius:12px;
	position: absolute;
}

#submit-nl-form:hover {
	background-color: #C4E7C0;
}

#footer-copyright {
	grid-column: 11/-1;
	height: 80px;
	margin-top: 64px;
	margin-left: -100px;
	font-size: 28px;
	color: #222222;
}



/* gallery page */

#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("https://via.placeholder.com/1920x580");
	height: 580px;
}

#gallery-text {
	grid-column: 1/9;
	/* Remove as content will dictate height */
	height: 200px;
	margin-top: 100px;
}

#gallery-controls {
	margin-top: 200px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
  }

.gallery-box {
	background-color: #ddd;
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	height: 507px;
	margin-bottom: 20px;
}